# Ignore virtual environments
.venv/

# Ignore Vercel folder
.vercel/

# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore model and dataset files
*.pkl
*.csv

# Ignore environment files
.env

# Ignore IDE files
.idea/
.vscode/
